---
layout: layout.liquid
---

<h1><strong>Exploring</strong> the <strong>Cosmos</strong></h1>
<div class="blog-posts">
    <a href="/andromeda/" title="Andromeda Galaxy">
        <img class="grow-on-hover" src="/images/andromeda.png" alt="Andromeda Galaxy">
        <p>Andromeda Galaxy</p>
    </a>
    <a href="/closest-star/" title="The Closest Star">
        <img class="grow-on-hover" src="/images/star.png" alt="Star">
        <p>The Closest Star</p>
    </a>
</div>
<img alt="pine" src="/images/pine.png" width="50" />