body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(3, 6, 55);
    background: linear-gradient(45deg, rgb(194, 18, 146) 0%, rgb(255, 167, 50) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

.blog-posts {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.blog-posts a {
    text-decoration: none;
}

.blog-posts a p {
    padding: 20px;
    color: #EAE8FF;
    font-size: 30px;
}

.blog-posts a p {
    padding: 20px;
    color: #EAE8FF;
    font-size: 1.2em;
}

.grow-on-hover {
    transition: transform .2s;
}

.grow-on-hover:hover {
    transform: scale(1.02);
}

.post-header {
    margin: 10px auto 10px auto;
}

.post-body {
    margin: auto 300px auto 300px;
    line-height: 2;
    font-size: 20px;
}